__pycache__
venv/
*.pyc
.env
arag-data-loader/Connection_to_postgres.py
arag-data-loader/Database_for_chatHistory.py


# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React / Build outputs
build/
dist/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Otros archivos y directorios comunes para ignorar
*.log
*.sqlite3
.DS_Store